on init

	export PATH /sbin:/system/bin

	export ANDROID_ROOT /system

	mkdir /system
	mount tmpfs nodev /tmp

	insmod /lib/modules/fsr.ko
	insmod /lib/modules/fsr_stl.ko
	insmod /lib/modules/rfs_glue.ko
	insmod /lib/modules/rfs_fat.ko
 
	insmod /lib/modules/param.ko 
	insmod /lib/modules/vibrator.ko
 
  	mount rfs /dev/block/stl9 /system check=no

on boot
#	write /sys/class/sec/switch/usb_sel PDA

	ifup lo
	hostname localhost
	domainname localdomain

	class_start default


#service console /bin/sh
service console /system/bin/sh
	console

service playlpm /system/bin/playlpm
    	user root
	oneshot  

service immvibed /system/bin/immvibed 
	oneshot

service lpmkey /system/bin/charging_mode
    	user root
    	oneshot
