on init

# GyuTae FIX : we should not use system partition!!!!!
#	export PATH /sbin:/bin

	export PATH /sbin:/system/bin
	export LD_LIBRARY_PATH /lib:/system/lib:/system/lib/egl

	export ANDROID_ROOT /system
	export ANDROID_DATA /data
	export EXTERNAL_STORAGE /sdcard

	mkdir /sdcard
	mkdir /system
	mkdir /data
	mkdir /cache
	mkdir /efs
	mount tmpfs nodev /tmp

	insmod /lib/modules/fsr.ko
	insmod /lib/modules/fsr_stl.ko
	insmod /lib/modules/rfs_glue.ko
	insmod /lib/modules/rfs_fat.ko
	
	insmod /lib/modules/j4fs.ko
	mount j4fs /dev/block/stl6 /mnt/.lfs
	insmod /lib/modules/dpram.ko
 
	insmod /lib/modules/param.ko 
	 
	mkdir /sdcard 0000 system system
	mkdir /data 0771 system system
	mkdir /cache 0770 system cache
 
	mount rfs /dev/block/stl3 /efs nosuid nodev check=no
  	mount rfs /dev/block/stl9 /system check=no

	mkdir /dbdata
	mount rfs /dev/block/stl10 /dbdata
	chown system system /dbdata
	chmod 0771 /dbdata
	
on boot
#	write /sys/class/sec/switch/usb_sel PDA

	ifup lo
	hostname localhost
	domainname localdomain

	class_start default

#service console /bin/sh
service console /system/bin/sh
	console

service recovery /sbin/recovery
	oneshot

service adbd /sbin/adbd recovery

on property:persist.service.adb.enable=1
	start adbd

on property:persist.service.adb.enable=0
	stop adbd


